extends layout

block content
  h1 Your image
  img.image(src=inputimg)
  br
  h1 Best Match
  img.image(src=matchimg)
  br
  ul
    li= 'Restaurant: ' + matchname
    li= 'Address: ' + matchaddress
    li= 'Percent match: ' + matchscore + '%'
    li= 'Distance: ' + matchdistance